.root {
  color: black;
  color: var(--color-primary, black);
  font-family: var(--font-sans);
  font-weight: normal;
  letter-spacing: 0.03125rem;
  white-space: nowrap;
}

br + .root {
  display: inline-block;
  padding-top: 0.5rem;
  font-size: 1.25em;
}
